	<ion-view view-title="Hakkımızda" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-hakkimizda" class="page-hakkimizda">
		<div class="padding">
<h4>Hakkımızda</h4>
<p style="color: #333333; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;"><strong>1981&nbsp; Burdur doğumlu olan şirketimizin sahibi Hakan Sağlam ,ilk&ouml;ğretimini Burdur merkezde tamamlamış,Lise &ouml;ğrenimi Antalya Gazi Lisesinde bitirmiş ve 2001-2005 yılları arasında Isparta S&uuml;leyman Demirel &Uuml;niversitesi Kamu y&ouml;netimi b&ouml;l&uuml;m&uuml;nden mezun olmuştur.Mezuniyeti ardından Sigorta ve Finans sekt&ouml;r&uuml;nde &nbsp;Nisan 2016 d&ouml;nemine kadar &ccedil;alışmıştır.</strong></p>
<p style="color: #333333; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;"><strong>2012 yılında Astalya Sigorta &uuml;nvanı ile Mustafa Sarı &nbsp;Bey&rsquo;in kurmuş olduğu şirketi bir hemşeri dayanışması ger&ccedil;ekleştirilmesi sonucu Nisan 2016&rsquo;da şirketi devir alan Hakan Bey,şirket &uuml;nvanını Sağlamlar Sigorta olarak g&uuml;ncellemiştir.</strong><br /><strong>Sigorta Sekt&ouml;r&uuml;nde bulunan kurumsal şirketlerdeki tecr&uuml;besini şuan Sağlamlar Sigorta Arac.Hizm.Ltd.Şti. nde Siz değerli m&uuml;şterilerimize aktarmaktadır.</strong></p>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
