	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>Saglamlar Sigorta v1.0</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/saglamlarsigorta/')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
      
   <a class="item item-icon-left" ng-click="openURL('mailto:hakan@saglamlarsigorta.com.tr')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: hakan@saglamlarsigorta.com.tr
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://saglamlarsigorta.com.tr')" >SaglamlarSigorta</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
