	<ion-view view-title="Acenteliklerimiz" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-acentelik" class="page-acentelik">
		<div class="padding">
<h4>Acenteliklerimiz</h4>
<p><br /><br /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/axaemekklk.jpg" alt="" width="412" height="200" /><br /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/axa_sigorta.jpg" alt="" width="412" height="200" /></p>
<img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/sompo.jpg" alt="" width="412" height="200" /><br /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/gen_1.jpg" alt="" width="412" height="200" /><br /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/axa_sigorta_2.jpg" alt="" width="412" height="200" /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/axa_sigorta_3.jpg" alt="" width="412" height="200" /><br /><img src="https://saglamlarsigorta.com.tr//uploads/markalar/large/axa_sigorta_1.jpg" alt="" width="412" height="200" /><br /><br /></div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
